<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ASCOM.photonProxyHub.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <ASCOM.photonProxyHub.Properties.Settings>
            <setting name="proxyDriverId" serializeAs="String">
                <value>(none)</value>
            </setting>
            <setting name="maxSlewRate" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="SlewSettleTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RestorePosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Alt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Az" serializeAs="String">
                <value>0</value>
            </setting>
        </ASCOM.photonProxyHub.Properties.Settings>
    </userSettings>
</configuration>
